<h1>Cadastre o seu livro</h1>

<form action="/books/insertbook" class="form" method="post">
    <div class="form-control">
        <label for="tiltle">Título</label>
        <input type="text" name="tiltle" placeholder="Digite o titulo">
    </div>
        <div class="form-control">
        <label for="pageqty">Numero de paginas</label>
        <input type="number" name="pageqty" placeholder="Digite o titulo">
    </div>
    <input type="submit" value="Cadastrar" >
</form>